body {
  margin: 0;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #161616;
  color: #fff;
  text-align: center;
}

/*
  Header --------------------------
*/

.heading {
  font-size: 4em;
}

svg:not(:root).svg-inline--fa {
    font-size: 4em;
    margin-bottom: -26px;
}

@media screen and (max-width: 850px) {
  .heading {
    font-size: 3em;
  }

  svg:not(:root).svg-inline--fa {
      font-size: 2em;
      margin-bottom: -14px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .heading {
    font-size: 2.5em;
  }

  svg:not(:root).svg-inline--fa {
      font-size: 2em;
  }
}

/*
  Section Information --------------------------
*/

.message,
.client-place,
.current-temp,
.weather-condition {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 25px;
}

.current-temp,
.weather-condition {
    font-size: 1.5em;
}

.weather-condition i {
  margin: 20px;
  font-size: 2em;
}

.mapholder {
  width: 500px;
  height: 250px;
  margin: 1.5em auto;
  -webkit-box-shadow: 0px 0px 13px 7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px 7px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 7px rgba(0,0,0,0.75);
}

@media screen and (max-width: 600px) {
  .mapholder {
    width: 90%;
    height: 250px;
  }
}

/*
  Section Information --------------------------
*/

.footer {
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 2em;
}

.tempunit,
.author {
  cursor:pointer;
  color:#006dcc;
}

.tempunit,
.author:hover {
  color:#005096;
}

.author a {
  text-decoration: none;
  color: inherit;
}
