body {
  margin: 0;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 16px;
  background-color: #161616;
  color: #fff;
  text-align: center;
}

/*
  Header --------------------------
*/

.heading {
  font-size: 5em;
}

svg:not(:root).svg-inline--fa {
    margin-bottom: -26px;
}

/*
  Section Information --------------------------
*/

.message,
.client-place {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 25px;
}
